# macOS system files
.DS_Store

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# VS Code working directory
.vscode/

# Python cache files
__pycache__/
*.pyc

# Ignore personal/API key files
#Adams
api_key.txt
api_key
omdb_apikey.txt
#Daniel
Daniel_API_key.txt

# files
BPMN.png


Open Refine Lab/

Primary_Key.ipynb_checkpoints



# Snakemake
.snakemake/